.nav-wrapper{
	background-color: #fff;
	padding: 8px 0;
	border-bottom: 1px solid #ebf2f2;
}
.wrapper{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.nav{
	display: flex;
	justify-content: space-between;	
	align-items: center;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 20px;
}

.nav-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 625px;
	margin-right: 88px;
}

.nav-item{
	position: relative;
	padding: 16px 0;	
	cursor: default; 
}

.nav-item:hover ul, .nav-item:focus ul{
	opacity: 1;
	z-index: 1;
	visibility: visible;
	transition: all 0s linear;
}

.dropdown{
	position: absolute;
	top: calc(100% + 8px);
	left: -20px;
	background: #fff;
	box-shadow: 0 5px 30px 0 rgba(108,135,135,.5);
	width: 230px;
	border-radius: 5px;	
	padding: 37px 30px;
	box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-out;
	white-space: nowrap;
}

.dropdown li{
	margin-bottom: 10px;
	font-family: Open Sans, sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.dropdown li:active, .dropdown li:hover, .dropdown li:focus{
	color: #6db33f;
}

.nav-link:hover, .nav-link:focus, .a-wrapper:hover{
	color: #6db33f;
	cursor: pointer;
}

.dropdown li>a{	
	cursor: pointer; 
}

.a-wrapper{
	margin-bottom: 30px;	
	display: inline-block;
	color: #086dc3;
}

.small-font{
	font-size: 0.8125rem;
}

.external-link-icon{
	width: 12px;
	height: 12px;
}

.nav-list span, .nav-item{
	font-weight: 700;
	font-size: 0.9375rem;
	font-family: Open Sans, sans-serif;
}

ul{
	list-style: none;
}

.nav-arrow{
	border: #191e1e solid;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 5px;
	transform: rotate(45deg) translateY(-6px);
}

.spring-logo{
	height: 48px;
	display: block;
}

.hamburger{
	padding: 8px;
	display: none;
}

.burger-bar{
	width:19px;
	height: 3px;
	background-color: #191e1e;
	margin-bottom: 3px;
}

.projects-info{	
	max-width: 1140px;
	margin: 0 auto;
	padding: 80px 20px 0;
}

h1{
	font-size: 60px;
	font-family: Metropolis, sans-serif;
	line-height: 60px;
	font-weight: 500;
	margin: 24px 0 10px;
}

.projects-info p{
	font-family: Metropolis, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	max-width: 1040px;
	margin: 24px 0 80px;
	color: #333;
}

.projects-panel{
	background-color: #ebf2f2;
	padding: 50px 20px;
	flex-grow: 1;
	flex-basis: 100%;
}

.search-form-container{
	max-width: 1140px;
	margin: 0 auto 25px;
}

.search-form{
	width: 82%;
}

.search-input{
	width: 100%;
	color: #333;
	padding: 0 8px;
	height: 40px;
	border: none;
	box-sizing: border-box;	
	border-radius: 5px;
}

.search-input:focus-visible{	
	outline: none;
	box-shadow: 0 10px 20px 0 rgb(108 135 135 / 20%);
}

.search-icon{
	position: relative;
}
.search-icon::before{
	content: "";
	background: url("../assets/images/logo.svg") no-repeat;
	background-size: contain;
	left: calc(100% - 36px);
	top: 6px;
	position: absolute;
	width: 28px;
	height: 28px;
}

.flex-panel{
	max-width: 1140px;
	margin: 0 auto;
}

.flex-items{
	display: flex;
	justify-content: space-between;
	width: 82%;
	margin-right: 0;
	margin-left: auto;
	flex-wrap: wrap;	
}

.flex-item{
	display: flex;
	justify-content: space-between;
	width: 48.5%;
	padding: 40px 30px;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 25px;
	border: 1px solid #d9e9e9;
	border-radius: 5px;
}

.flex-item:hover{
	transform: translateY(-3px);
	box-shadow: 0 10px 20px 0 rgb(108 135 135 / 20%);
}

.flex-item p{
	line-height: 1.7;
	color: #333;
	font-family: Open Sans, sans-serif;
	margin: 16px 0;
}

.no-result{
	width: 100%;
	color: #333;
	font-size: 20px;
	text-align: end;
	display: block;
	padding: 10px 8px;
	text-transform: uppercase;
	font-family: Open Sans, sans-serif;
}

.project-icon{
	height: 60px;
	max-width: 18.5%;
	align-self: flex-start;
}

.project-text{
	width: 76.5%;
}

h3{
	font-size: 1.5em;
	font-family: Metropolis, sans-serif;
	font-weight: 500;
}

h1, h3, p, span{
	color: #191e1e;
}

a{
	text-decoration: none;
}

/*media queries*/

@media (max-width: 1100px){
	.spring-logo{
		height: 30px;
	}
}

@media (max-width: 1000px){
	.flex-items, .search-form{
		width: 100%;
	}

	.projects-panel{
		padding-top: 25px;
	}
}

@media (max-width: 900px){
	.nav-list{
		display: none;
	}

	.hamburger{
		display: block;
	}

	header{
		position: fixed;
		width: 100%;
		z-index: 2;
	}
}

@media (max-width: 800px){
	.flex-item{
		width: 100%;
	}
	
	.project-icon{
		height: auto;
		max-height: 60px;
	}

	.projects-info p{
		font-size: 20px;
		line-height: 1.7em;
		margin-bottom: 50px;
	}
	
	h1{
		font-size: 3rem;
		line-height: 1em;
	}

	h3{
		font-size: 1.25rem;
	}

	.flex-item p{
		font-size: 14px;
	}

}