.nav-wrapper{
	background-color: #fff;
	padding: 8px 0;
}

.nav{
	display: flex;
	justify-content: space-between;	
	align-items: center;
	margin: 0 auto;
	max-width: 1140px;
	border-bottom: 1px solid #ebf2f2;
	padding: 0 20px;
}

.nav-items{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 705px;
	margin: 16px 0;
}

.nav-items span, .nav-items a{
	font-weight: 700;
	font-size: 16px;
	font-family: Open Sans, sans-serif;
}
.nav-items li{
	margin-bottom: 3px;
}

ul{
	list-style: none;
}

.nav-arrow{
	border: #191e1e solid;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 5px;
	transform: rotate(45deg) translateY(-6px);
}

.spring-logo{
	height: 48px;
	display: block;
}

.projects-info{	
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 80px;
}

h1{
	font-size: 60px;
	font-family: Metropolis, sans-serif;
	line-height: 60px;
	font-weight: 500;
	margin: 24px 0 10px;
}

.projects-info p{
	font-family: Metropolis, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 40px;
	max-width: 1040px;
	margin: 24px 0 80px;
	color: #333;
}

.projects-panel{
	background-color: #ebf2f2;
	padding: 50px 0;
}

.flex-panel{
	max-width: 1140px;
	margin: 0 auto;
}

.flex-items{
	display: flex;
	justify-content: space-between;
	width: 82%;
	margin-right: 0;
	margin-left: auto;
	flex-wrap: wrap;
	border: 1px solid #d9e9e9;
	border-radius: 5px;
}

.flex-item{
	display: flex;
	justify-content: space-between;
	width: 48.5%;
	padding: 40px 30px;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 25px;
}

.flex-item:hover{
	transform: translateY(-3px);
	box-shadow: 0 10px 20px 0 rgb(108 135 135 / 20%);
}

.flex-item p{
	line-height: 1.7;
	color: #333;
	font-family: Open Sans, sans-serif;
	margin: 16px 0;
}

.project-icon{
	height: 60px;
	max-width: 18.5%;
	align-self: flex-start;
}

.project-text{
	width: 76.5%;
}

h3{
	font-size: 1.5em;
	font-family: Metropolis, sans-serif;
	font-weight: 500;
}


h1, h3, p, span{
	color: #191e1e;
}

a{
	text-decoration: none;
}
