.projects-info {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 20px 0;
  box-sizing: content-box;
}

.info-section-text {
  font-family: Metropolis, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin: 24px 0 80px;
  color: #333;
}

@media (max-width: 800px) {
  .info-section-text {
    font-size: 20px;
    line-height: 1.7em;
    margin-bottom: 50px;
  }
}
